
/* GLOBAL STYLES */
html, body {
    padding: 0;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: 'Playfair Display';
    font-size: 48px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

h4 {
    font-family: 'Playfair Display';
    font-size: 24px;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}


/* HERO STYLES */
.about-hero {
    background-color: #C5C0C0;
    padding: 50px;
}

.about-text {
    margin: 100px 100px;
}

@media only screen and (max-width: 600px) {
    .about-text {
        margin: 20px 20px;
    }
}

.title {
    margin-bottom: 15px;

    font-family: 'Playfair Display';
    line-height: 120%;

    color: #08130f;
    font-weight: 900;
    font-size: 72px;
}

.title span {
    color: #314953;   
}

.about-paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    
    margin-bottom: 50px;
}

.button-primary {
    padding: 10px;

    text-decoration: none;
    color: #314953;
    font-family: 'Playfair Display';
    font-size: 24px;
    border: 2px solid #314953;

    transition: 0.7s ease-in;
}

.button-primary:hover {
    color: #C5C0C0;
    background-color: #314953;
    border: 2px solid #C5C0C0;
}

/* PORTFOLIO STYLES */
.my-work {
    display: flex;
    margin-top: -40px;
    margin-bottom: -40px;
    min-height: 700px;
    justify-content:space-around;
    flex-wrap: wrap;
}

.project-card {
    background-color: #D2D6D2;
    height: 700px;
    width: 450px;
    margin: 0 30px;
    transition: 0.7s;
    position: relative;
}

.project-card:hover {
    border: 3px solid #0A1612;
    transform: scale(1.05)
}

.project-card img {
    max-width: 450px;
}

.project-card h3 {
    font-family: 'Playfair Display';
    font-size: 36px;
    color: #0A1612;
    height: 90px;
    margin-bottom: 10px;
}

.project-card p {
    font-family: 'Open Sans';
    margin: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 180px;
    font-size: 18px;
}

.project-button {
    margin-bottom: 30px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}

.button-secondary {
    padding: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    background-color: #314953;
    font-family: 'Playfair Display';
    font-size: 16px;
    border: 2px solid #314953;
    transition: 0.7s ease-in;
}

.button-secondary:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .project-card {
        width: 400px;
        margin: 10px 25px;
    }
    .project-card img {
        max-width: 400px;
    }
    .project-card p {
        height: 30%;
    }
    .project-card h3 {
        height: 80px;
        padding-bottom: 30px;
    }   
}

/* ABOUT ME STYLES */
.about-me {
    background-color: #c0c5c5;
    min-height: 500px
}

img {
    width: 500px;
}

.about-me-text {
    padding: 50px;
    width: 75%;
    margin: auto;
    font-size: 20px;
}

.about-me-text p {
    width: 30%;
    margin: auto;
    font-family: 'Open Sans';
}

.skills-list {
    text-align: left;
    width: 500px;
    margin: auto;
    font-family: 'Open Sans';
}

.skills-list li {
    font-size: 18px;
}

.profile-link {
    color: #08130f;
    display: block;
    transition: 0.3s ease-in;
}

.profile-link:hover {
    color: #314953;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .about-me-text {
        padding: 20px;
    }
    .about-me-text p {
        width: 75%;
    }
    .skills-list {
        width: 50%;
    }
}

/* FOOTER STYLES */
footer {
    background-color: #D2D6D2;

}

label {
    font-family: 'Playfair Display';
    font-weight: 200;
    font-size: 18px;
    display: block;
    margin-top: 40px;
}

input, textarea {
    width: 400px;
    padding: 7px;
    font-size: 14px;
    font-family: 'Open Sans';
    border-radius: 0;
    border: 0;
    transition: ease-in 0.5s;
}

textarea {
    height: 200px;
}

input:focus, textarea:focus {
    outline: 2px solid #0A1612;
}

button[type=submit] {
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 50px;
}

footer p {
    padding: 20px;
    font-family: sans-serif;
    margin: 0;
}


@media only screen and (max-width: 600px) {
    input, textarea {
        width: 100%;    
    }
}